@import '../../styles/variables.scss';

.messagesContainer {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: flex-end;
    height: 70vh;
    width: 90%;
    margin-bottom: 10px;
    padding: 1em;
    overflow-y: hidden;
    background-color: $secondary-color;
}