@import "variables";

body {
  font-family: $font-stack;
  background-color: $primary-color;
  color: $h-text-color;
}

.appContainer {
  display: flex;
  min-height: 100vh;
}

.contentArea {
  flex: 1;
  padding: 1em;
}