$primary-color: #e5eaff;
$secondary-color: #B6C8EB;
$accent-color: #3855AA;
$light-gray: #A6A4AE;
$h-text-color: #1d203a;
$p-text-color: #3f4155;
$font-stack: Helvetica, sans-serif;
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
